<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            html, body {
                height: 100%;
                background-color: #f6f6f6;
            }
        </style>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        
        <div class= "container-fluid" style="min-height: 95%">
            <div class="row">
                <div class="col-sm-2">
                    <center>
                        <div>
                            <img src= "/static/images/You.jpg" style= "width:200px;height:300px;"/>
                        </div>
                    </center>
                </div>
                <div class="col-sm-9">
                        <center><h1> Truyện tranh </h1></center> 
                </div>
                <div class="col-sm-1">
                    {% if user.username %}
                        <p>Xin chào {{user.username}}</p>
                        <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                    {% else %}
                        <p><a href="{% url 'register' %}">Đăng ký</a>|<a href="{% url 'login' %}">Đăng nhập</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="bs-sliderbar" style="background-color: #ffffff;">
                        <ul class="nav flex-column">
                            <li><a href="/">Thông tin cá nhân</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                            {% block change_page %}

                            {% endblock %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10">
                {% block content %}
                    
                {% endblock %}
                </div>
            </div>
        </div>
            <footer>
                <div class="container-fluid" >
                    <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Google</a>
                </div>
            </footer>
            
    </body>
</html>