{% extends './base.html' %}

{% block content %}
    {% for comic in comics %}
        <div class="group/manga relative overflow-hidden rounded-[10px] bg-pink-800">
        <a href="/<int:pk>" target="_blank">
            <img class="w-full h-full" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ comic.image_url }}">
            <div class="absolute bottom-0 grid content-end w-full h-[90px] s1024:h-[150px] line-height-[25px] text-white bg-gradient-to-b from-transparent to-black s1024:group-hover/manga:to-pink-800 p-2 s480:p-4 s768:p-2 s1024:p-4 transition-all">
                <div class="line-clamp-3 s1024:text-[16px]">{{ comic.title }}</div>
            </div>
        </a>
    </div>
    {% endfor %}


{% endblock %}